body.tox-fullscreen .tox.tox-tinymce.tox-fullscreen {
  z-index: 1401;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 1401;
}

.tox-tinymce, .tox-edit-area__iframe {
  width: 100% !important;
}

.tox .tox-editor-container {
  width: 100%;
}